<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">My Account Overview</h1>
    <div class="clear"></div>
  </div>
  
  <%= render partial: 'shared/flash' %>

  <div id="featureWrap" class="floatLeft reports">
  	<h2>Account Details</h2>
  
    <div class="summary floatLeft" style="padding-top: 0px;">
      <p>Name: <strong><%= "#{@customer.first_name} #{@customer.last_name}" %></strong></p>
      <p>Member Since: <strong><%= @customer.created_at.to_date %></strong></p>
    </div>
		
  </div>

  <%= render partial: 'books/customer_books_table', locals: { customer_books: @customer_books, customer: @customer, as_librarian: false } %>
  <%= render partial: 'books/available_books_table', locals: { customer: @customer } %>
</div>