<!DOCTYPE html>
<html>
	<head>
  <head>
    <title>LibraryApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
  </head>

	<body>
		<%= render :partial => 'shared/header' %>
		
		<div id="container">
			<%= render :partial => 'shared/nav'%>
				
   		<%= yield %>

			<div class="clear"></div>
		</div>

	</body>
</html>

